# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.README.md

# dependencies
client
./client
client/node_modules
./client/node_modules
server/node_modules
./server/node_modules

# misc
.env
client/.env
.DS_Store
server/.env
./server/.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
