@import './default.css';

h2 {
  margin-top: 24px;
  text-align: center;
}

.regFormbox {
  margin: 0.5rem 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
}

.form {
  max-width: var(--wd-mobile);
  margin: auto;  
  gap: 20px;
}

.AuthForm_valid {
  border: 2px solid #4caf50;
}

.AuthForm_invalid {
  border: 2px solid #f44336;
}

.AuthForm_warn {
  color: #f44336;
  font-size: 0.9em;
}

.AuthForm_passwordBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.AuthForm_passwordBox input {
  flex: 1 1;
}

.AuthForm_passwordBox button {
  padding: 4px 8px;
  font-size: 0.9em;
  cursor: pointer;
}
