h2.Dashboard_tit {
    font-size: 18px;
    background-color: var(--tit-light);
    padding: 5px 20px;
    border-radius: 20px;
    width: fit-content;
    margin: 0.7rem auto;
}

.Dashboard_dashboard {
  background-color: var(--bg-retro);
  padding: 1rem;
  border-radius: 8px;
}

.Dashboard_card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--hover-retro);
  border-radius: 6px;
}

.Dashboard_title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.Dashboard_input {
  padding: 8px;
  border: 1px solid var(--hover-retro);
  border-radius: 4px;
}

.Dashboard_buttonGroup {
  margin-top: 0.5rem;
}

.Dashboard_matchRow {
  border-bottom: 1px solid var(--hover-retro);
  padding: 0.5rem 0;
}

.Dashboard_success {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}

.Dashboard_statsBox {
  margin: 30px;
}

.Dashboard_statsList {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 5px 10px;
}

.Dashboard_statsList li {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.Dashboard_filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* list 스타일 */
.Dashboard_listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.Dashboard_listRowHeader,
.Dashboard_listRow {
  display: grid;
  grid-template-columns: 30px 1.3fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-content);
  border: 1px solid var(--hover-retro);
  border-radius: 4px;
}

.Dashboard_listRowHeader {
  font-weight: bold;
  background-color: var(--hover-retro);
}

.Dashboard_clickable {
  cursor: pointer;
  color: var(--accent-retro);
  text-decoration: underline;
}

.Dashboard_list_title {
  text-align: center;
}

.Dashboard_list_tt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dashboard_list_td {
  text-align: center;
}

.Dashboard_pagination {
  text-align: center;
  margin: 0.5rem 0.2rem 0.2rem;
}