@import './default.css';

h2.tit {
    font-size: 18px;
    background-color: var(--tit-light);
    padding: 5px 20px;
    border-radius: 20px;
    width: fit-content;
    margin: 0.7rem auto;
}

.dashboard {
  background-color: var(--bg-retro);
  padding: 1rem;
  border-radius: 8px;
}

.card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--hover-retro);
  border-radius: 6px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  padding: 8px;
  border: 1px solid var(--hover-retro);
  border-radius: 4px;
}

.buttonGroup {
  margin-top: 0.5rem;
}

.matchRow {
  border-bottom: 1px solid var(--hover-retro);
  padding: 0.5rem 0;
}

.success {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}

.statsBox {
  margin: 30px;
}

.statsList {
  list-style: none;
  padding-left: 0;
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 5px 10px;
}

.statsList li {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.filterGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* list 스타일 */
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.listRowHeader,
.listRow {
  display: grid;
  grid-template-columns: 30px 1.3fr 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-content);
  border: 1px solid var(--hover-retro);
  border-radius: 4px;
}

.listRowHeader {
  font-weight: bold;
  background-color: var(--hover-retro);
}

.listRow:hover {
  background-color: var(--bg-retro);
}

.clickable {
  cursor: pointer;
  color: var(--accent-retro);
  text-decoration: underline;
}

.list_title {
  text-align: center;
}

.list_tt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_td {
  text-align: center;
}

.pagination {
  text-align: center;
  margin: 0.5rem 0.2rem 0.2rem;
}