/* @import url('./nanumgothic.css'); */

:root {
  --font-retro: 'Nanum Gothic', sans-serif;
  --font-size-base: 16px;
  --bg-header: #643f0a;
  --bg-retro: #fdf6e3;
  --bg-content: #fffbf1 ;
  --accent-retro: #3c3c3c;
  --hover-retro: #d4cfc4;
  --color-notice: #900d0d;
  --color-point: #3376ff;
  --tit-light: #fbeba6;
  --wd-mobile: 400px;
}

/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 전체 배경 및 폰트 */
body {
  font-family: var(--font-retro);
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: #333;
  background-color: var(--bg-retro);
}

section {
  padding: 0 0.7rem 5rem;
}

button {  
  padding: 10px 20px;
  gap: 10px;
}

label {
  margin-right: 0.5rem;
}