<<<<<<< HEAD
.Header_header {
=======
@import './default.css';

.header {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  background-color: var(--bg-header);
  font-family: var(--font-retro);
  border-bottom: 2px dashed var(--hover-retro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}

<<<<<<< HEAD
.Header_topBar {
=======
.topBar {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

<<<<<<< HEAD
button.Header_home {
  background-color: transparent !important;
}

.Header_brand {
=======
button.home {
  background-color: transparent !important;
}

.brand {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  font-size: 16px;
  font-weight: bold;
  color: var(--bg-retro);
}

<<<<<<< HEAD
.Header_header a {
  color: var(--hover-retro);
}

.Header_header button {
  margin: 0;
}

.Header_header a:hover, .Header_header button:hover {
=======
.header a {
  color: var(--hover-retro);
}

.header button {
  margin: 0;
}

.header a:hover, .header button:hover {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  background-color: var(--bg-retro);
  color: var(--bg-header);
}

<<<<<<< HEAD
.Header_navBar {
=======
.navBar {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  width: 100%;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  background-color: var(--hover-retro);
  border-top: 1px dashed var(--accent-retro);
  font-family: var(--font-retro);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
.Header_navBar.Header_open__BS6Uh {
  max-height: 200px;
}

.Header_navLeft, .Header_navCenter, .Header_navRight {
=======
.navBar.open {
  max-height: 200px;
}

.navLeft, .navCenter, .navRight {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  display: flex;
  align-items: center;
  gap: 10px;
}

<<<<<<< HEAD
.Header_navCenter {
=======
.navCenter {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  justify-content: center;
  flex-grow: 1;
}

<<<<<<< HEAD
.Header_navBar a {
=======
.navBar a {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  text-decoration: none;
  color: var(--accent-retro);
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

<<<<<<< HEAD
.Header_navBar a:hover {
=======
.navBar a:hover {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  background-color: var(--bg-retro);
  color: #000;
}

/* home */
<<<<<<< HEAD
.Header_homeIcon {
=======
.homeIcon {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  position: relative;
  border-style:solid;
  border-color:transparent;
  border-width:8px 9px;
  border-bottom-color: var(--bg-retro);
  margin-top:-16px;
  background:transparent;
}

<<<<<<< HEAD
.Header_homeIcon::after {
=======
.homeIcon::after {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  content: '';
  position: absolute;
  top: 8px;
  left: -6px;
  width:4px;
  height:4px;
  border-style:solid;
  border-color:var(--bg-retro) var(--bg-retro);
  border-width:3px 4px 0;
  background: transparent;
}

/* 유저 icon */
<<<<<<< HEAD
.Header_user {
=======
.user {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  color: var(--bg-header);
  position: relative;
  margin-left: 5px;
  margin-top: 13px;
  width: 14px;
  height: 6px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px transparent;
  background-color: currentColor;
  border-radius: 6px 6px 0 0;
}

<<<<<<< HEAD
.Header_user:before {
=======
.user:before {
>>>>>>> 40c23d38 (Branching point: refs/remotes/origin/main)
  content: '';
  position: absolute;
  left: 2px;
  top: -10px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}