.Info_container {
    display: grid;
    gap: 25px;
    justify-items: center;
}

h3 {
    margin: 0.7rem auto;    
}

h3.Info_tit {
    font-size: 18px;
    background-color: var(--tit-light);
    padding: 5px 20px;
    border-radius: 20px;
}

/* 소개페이지 */
.Info_info p {
    text-align: center;
}

.Info_info p span {
    color: var(--color-point);
    font-weight: bold;
    position: relative;
}

.Info_info p span::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: currentColor
}

.Info_beforeSunrise {
    margin-top: 50px;  
    font-size: 18px;
    background-color: var(--tit-light);
    padding: 5px 20px;
    border-radius: 20px;  
}

.Info_riseInfo {
    max-width: 800px;
    list-style: none;
    text-align: left;
    display: grid;
    gap: 20px;
}

.Info_riseInfo em {
    color: #888;
}

.Info_riseInfo li {
    padding: 0.7rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.1);
}

.Info_riseInfo li::before {
    content: '■';
    font-size: 0.5rem;
    position: relative;
    top: -3px;
    margin-right: 0.3rem;
    color: var(--color-notice);
}

/* 프로세스 */
.Info_process {
    list-style: none;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 40px 50px;
}

.Info_process li {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    height: fit-content;
}

.Info_process li:nth-child(odd) {
    grid-column: 1;
    transform: translatey(-20px);
}

.Info_process li:nth-child(odd)::before {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: var(--color-notice);
    transform: rotate(12deg); 
    right: -34px;
    bottom: 15px;
}

.Info_process li:nth-child(odd)::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--color-notice);
    border-right: 2px solid var(--color-notice);
    transform: rotate(60deg);    
    right: -35px;
    bottom: 10px;
}

.Info_process li:nth-child(even) {
    grid-column: 2;
    transform: translatey(50px);
}

.Info_process li:nth-child(even)::before {
    content: '';
    display: block;
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: var(--color-notice);
    transform: rotate(-24deg); 
    left: -34px;
    bottom: 16px;
}

.Info_process li:nth-child(even)::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--color-notice);
    border-right: 2px solid var(--color-notice);
    transform: rotate(195deg);    
    left: -35px;
    bottom: 10px;
}

.Info_process li:nth-child(even):last-child::before, .Info_process li:nth-child(even):last-child::after {
    display: none;
}

.Info_process dt {
    font-weight: bold;
    color: var(--color-point);
}

.Info_process dd {
    font-size: 0.8rem;
    margin-top: 10px;
}

.Info_process li:first-child {
    background-color: #ccc;
}

.Info_process li:first-child dt {
    color: black;
}